Source: sstp-client
Section: net
Priority: optional
Maintainer: Eivind Naess <eivnaes@yahoo.com>
Build-Depends:
 debhelper (>= 8),
 ppp-dev,
 libevent-dev,
 libssl-dev,
Standards-Version: 3.9.1
Vcs-Svn: https://sstp-client.svn.sourceforge.net/svnroot/sstp-client
Homepage: http://sstp-client.sourceforge.net

Package: sstp-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ppp-dev, libevent-dev, libssl-dev
Recommends: network-manager-sstp | network-manager-sstp-gnome
Description: Secure Socket Tunneling Protocol (SSTP) Client
 Client for the properitary Microsoft Secure Socket Tunneling Protocol, SSTP. Allows connection for a SSTP based VPN as used by employers.
Section: net
Priority: optional
