#!/usr/bin/make -f
export DEB_BUILD_HARDENING=1

include /usr/share/hardening-includes/hardening.make
CFLAGS=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS=$(shell dpkg-buildflags --get LDFLAGS)
CFLAGS+=$(HARDENING_CFLAGS)
LDFLAGS+=$(HARDENING_LDFLAGS)

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--includedir=/usr/include \
		--libexecdir=/usr/lib/sstp-client \
		--mandir=/usr/share/man \
		--infodir=/usr/share/info \
		--disable-dependency-tracking \
		--with-runtime-dir="/var/run/sstpc" \
		--with-pppd-plugin-dir="/usr/lib/pppd/2.4.6" \
		--enable-user \
		--enable-group

%:
	dh $@

override_dh_makeshlibs:
	dh_makeshlibs -X/usr/lib/pppd/


get-orig-source:
	cd $(dir $(firstword $(MAKEFILE_LIST)))../ && \
	uscan --rename --force-download --watchfile debian/watch --destdir $(CURDIR)

